@CHARSET "utf-8";



.placeholder {  /* for IE (jquery.placeholder) */
	color: #aaa;
}

a,
a:link,
a:visited {
	color: #333;
	outline: none;
}

a:hover {
	color: #482;
}

/* =============== Float ================ */

.pull_right,
.pull_right > * {
	float: right;
}

input[type="text"] {
	border: solid 1px #2F2016;
	background-color: #DFC6A1;
	box-shadow: inset 0 0 4px #A64;
	border-radius: 5px;
}

input.tbx {
	font-size: 14px;
	height: 21px;
	border: 0;
	margin: 0;
	padding: 4px 27px 4px 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f3f3f3;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
	-webkit-transition: background-color 0.1s;
	-khtml-transition: background-color 0.1s;
	-moz-transition: background-color 0.1s;
	transition: background-color 0.1s;
}
	input.tbx:focus {
		background-color: #fff !important;
	}

/* button */

.button,
a.button:link,
a.button:visited {
	display: inline-block;
	color: #777;
	height: 25px;
	cursor: pointer;
	margin: 0 8px 0 0;
	line-height: 23px;
	font-size: 14px;
	border: solid #fff;
	border-width: 0 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fafafa;
	background-color: rgba(255,255,255,0.6);
	text-shadow: 0px 1px 1px white;
	-webkit-transition: background-color 0.1s;
	-khtml-transition: background-color 0.1s;
	-moz-transition: background-color 0.1s;
	transition: background-color 0.1s;
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",'lucida grande',tahoma,verdana,arial,"hiragino kaku gothic pro",meiryo,"ms pgothic",sans-serif;
}

a.button,
a.button:link,
a.button:visited {
	padding: 4px 6px;
}
	.button:hover {
		background-color: rgba(255,255,255,0.8) !important;
		color: #5a3 !important;
		box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.7);
		-moz-box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.7);
		-khtml-box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.7);
		-webkit-box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.7);
	}

/* 水平リスト */
.hList {
	list-style: none;
	clear: both;
	overflow: hidden;
}
	.hList > li {
		float: left;
		display: inline-box;
		*display: inline !important; /* IE7 only */
	}

.syntaxhighlighter {
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 7px;
	overflow:  auto;
	white-space:  nowrap;
	/*
	border: solid 1px #2F2016;
	-webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
	-khtml-box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
	-moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
	*/
	font-size: 13px;
	margin-bottom: 25px;
	font-family: Consolas, Monaco, "Courier New", mono-space, monospace !important;
}

.syntaxhighlighter::-webkit-scrollbar,
#demo_slidebox::-webkit-scrollbar {
	height: 10px;
	width: 10px;
	
	background-color: #524D49;
	background-image: url('../img/frame_bg.png');
	background-attachment: fixed;
}

.syntaxhighlighter::-webkit-scrollbar-thumb,
#demo_slidebox::-webkit-scrollbar-thumb {
	background:rgba(255,255,255,0.2);
}
