@charset "utf-8";
/* CSS Document */

/* reset */

/* ================= reset =====================

reset
font
link

============================================ */


/* =============================================================
reset
============================================================= */

body, form, h1, h2, h3, h4, h5, h6, p, ol, ul,li, pre, blockquote, input, dl, dd, dt, div, address, label
{
	margin: 0;
	padding: 0;
}

a img,img { border: 0; }

li { list-style: none; }

ol li
{
	list-style-type: decimal;
	list-style-position: outside;
	margin-left: 25px;
}

em
{
	font-style: italic;
}

address
{ 
 	font-style: normal;
 	font-weight: normal;
}

input, select, textarea
{
	margin: 0 2px 0 0;
	font-family:Arial, Helvetica, sans-serif;
	padding: 1px;
	color: #404040;
	font-size: 100%;
}

*:first-child+html form,
*:first-child+html input,
*:first-child+html select,
*:first-child+html textarea /* For Only IE7 */
{
	font-family:Arial, Helvetica, sans-serif;
}



/* =============================================================
 font
============================================================= */

body
{
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	font-size:14px;
	line-height: 1.5;
	text-align: center;
}

*:first-child+html body /* For Only IE7 */
{
	font-family:Arial, Helvetica, sans-serif;
}

table
{

	line-height: 1.5;
	text-align: left;
}

*:first-child+html table /* For Only IE7 */
{
	font-family:Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6
{
	font-size: small;
}



/* =============================================================
link
============================================================= */

a:link
{
	color:#0000FF;
	background-color: transparent;
	text-decoration:none;
}





a:hover,
{
	color:#0066FF;
	background-color: transparent;
	text-decoration: underline;
}

a:visited
{
	text-decoration:none;
}
